#contianer
{
    display:  flex;
    justify-content: center;
}
#list
{
    font-size: 30pt;
    /* display: flex;
    flex-direction: column;
    text-align: center; */
    
    color:blue;

}
button
{
    margin-left: 20px;
}
button:hover{

    color:  red;
    cursor: pointer;
}
